.App {
  width:100vw;
  height:100vh;
} */


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Hamburger{
  background-image: linear-gradient(#fc3d03, #db5ea3);
  padding:15px;  
  display: inline;
}
.notcollapse{
  display:none;
}

@media screen and (min-width:993px) {
  .notcollapse{
    display:block;
    background-color: linear-gradient(to right,#fc3d03, #db5ea3);    
  }
  #Hamburger{
    display: none;
  }
}